.panel {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  padding: 144px 104px 24px;
}

.panel[data-step="2"] {
  padding-right: 40px;
}

.content {
  height: 100%;
  min-height: 0;
}

.content > header {
  flex-shrink: 0;
}

.scrollArea {
  min-height: 0;
  flex: 1;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.content,
.step {
  gap: 48px;
}

.step {
  display: grid;
}

@media (height <= 880px) {
  .content,
  .step {
    gap: 24px;
  }
}

.form
  :is(
    [data-slot="input"],
    [data-slot="textarea"],
    [data-slot="select-trigger"],
    [data-invalid]
  ) {
  border-radius: 12px;
}

.form
  :is(
    [data-slot="input"],
    [data-slot="textarea"],
    [data-slot="select-trigger"]
  ):is(:focus-visible, [aria-invalid="true"]),
.form [data-invalid]:is([data-invalid="true"], :has(input:focus-visible)) {
  border: 2px solid var(--ring);
  outline: none;
}
